<div class="row">
    <div ng-controller="InfoboxController">
        <div class="panel panel-default  col-md-2">
            <div class="panel-body">
                <table style="width:100%">
                    <tr>
                        <td>Detected Cycle</td>
                        <td>{{cycle}}</td>
                    </tr>
                    <tr>
                        <td>Data Frequency</td>
                        <td>{{frequency}}</td>
                    </tr>
                </table>
                <br>
                <ol class="treeview">
                    <li>
                        <p>Full Load</p>
                        <table style="width:100%">
                            <tr>
                                <td>Meta Data</td>
                                <td>{{full_meta}}</td>
                            </tr>
                            <tr>
                                <td>Channels</td>
                                <td>{{full_channels}}</td>
                            </tr>
                            <tr>
                                <td>Units</td>
                                <td>{{full_units}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <p>Pre-Zero/Span</p>
                        <table style="width:100%">
                            <tr>
                                <td>Meta Data</td>
                                <td>{{pre_meta}}</td>
                            </tr>
                            <tr>
                                <td>Channels</td>
                                <td>{{pre_channels}}</td>
                            </tr>
                            <tr>
                                <td>Units</td>
                                <td>{{pre_units}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <p>Post Zero/Span</p>
                        <table style="width:100%">
                            <tr>
                                <td>Meta Data</td>
                                <td>{{post_meta}}</td>
                            </tr>
                            <tr>
                                <td>Channels</td>
                                <td>{{post_channels}}</td>
                            </tr>
                            <tr>
                                <td>Units</td>
                                <td>{{post_units}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <p>Test Data</p>
                        <table style="width:100%">
                            <tr>
                                <td>Meta Data</td>
                                <td>{{test_meta}}</td>
                            </tr>
                            <tr>
                                <td>Channels</td>
                                <td>{{test_channels}}</td>
                            </tr>
                            <tr>
                                <td>Units</td>
                                <td>{{test_units}}</td>
                            </tr>
                            <tr>
                                <td>Ambient Cond.</td>
                                <td>{{test_amb}}</td>
                            </tr>
                            <tr>
                                <td>Data Ranges</td>
                                <td>{{test_ranges}}</td>
                            </tr>
                        </table>
                    </li>
                </ol>            
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
        </div>
        <!--  <a ui-sref=".import">Show List</a> -->
        <div style="padding: 15px; padding-left: 0px; padding-top: 0px">
            <button type="button" class="btn btn-default" ui-sref=".Import">Data Upload</button>
            <span style="font-size: 1.0em; padding: 10px" class="glyphicon glyphicon-arrow-right"></span>
            <button id="reg" type="button" class="btn btn-default " ui-sref=".Delay">Data Alignment</button>
            <span style="font-size: 1.0em; padding: 10px" class="glyphicon glyphicon-arrow-right"></span>
            <button id="reg" type="button" class="btn btn-default " ui-sref=".Results">Results and Download</button>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Test Data</h3>
            </div>
            <div ui-view class="panel-body">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .panel-heading {
        padding: 6px 9px;
    }

    .panel-title {
        font-size: 13px;
    }

    .treeview {
        padding-left: 2px;
    }

    .treeview td {
        padding-left: 5px;
    }

    .treeview p {
        margin: 0px;
        font-style: italic;
        font-size: 13px;
    }
</style>
