<div >
   <!--  <a ui-sref=".import">Show List</a> -->

   <div>

     <button type="button" class="btn btn-default" ui-sref=".Import">Data Upload</button>
     <span  style="font-size: 1.0em; padding: 10px" class="glyphicon glyphicon-arrow-right"></span>

     <button id="reg" type="button" class="btn btn-default " ui-sref=".Regression">Regression</button>

  </div>

  <div class="col-md-12"  ui-view></div>
<!-- <div class="col-md-12">

  <textarea class="span12" rows="3" placeholder="What's up?" required></textarea>
</div> -->
</div>
