<style>
  .btn-file {
    position: relative;
    overflow: hidden;
    left:0px
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;

  }
  input[readonly] {
    background-color: white !important;
    cursor: text !important;
  }
  .regoutput {
    width: 130px;
  }
  .progress{
    margin-top: 10px;
    margin-left: 15px;
    width: 365px;
    height: 20px;
  }

</style>
<div style="row">
  <div class="col-md-12">
    <div class="col-md-7">                
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Input Data</h3>
        </div>
        <div class="panel-body">
          <div ng-controller="ImportController">
            <h4>Full Load</h4>
            <table>
              <td>
                <span class="btn btn-primary btn-file">Browse <input ng-click = "filetype='full'" type="file" multiple="multiple" nv-file-select="" uploader="uploader" name="file" /></span>  
              </td>
              <td width="120px">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': uploader.progress + '%' }" style="width: 0%;"/>
                </div>
              </td>
            </table>                
            <table class="table">
              <thead>
                <tr>
                  <th width="50%">Name</th>
                  <th ng-show="uploader.isHTML5">Size</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in uploader.queue">
                  <td><strong>{{ item.file.name }}</strong></td>
                  <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                  <td class="text-center">
                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                  </td>
                  <td nowrap>
                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                      <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-success btn-xs" ng-click="item.remove()">
                      <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>                                                                 
                  </td>
                </tr>
              </tbody>                                                       
            </table>
          </div> 
          <div  ng-controller="ImportController">
            <h4>Pre-Zero/Span</h4>
            <table>
              <td>
                <span class="btn btn-primary btn-file">Browse <input type="file" ng-click="filetype='pre'" multiple="multiple" nv-file-select="" uploader="uploader" name="file" /></span>  
              </td>
              <td width="120px">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': uploader.progress + '%' }" style="width: 0%;"/>
                </div>
              </td>
            </table>  
            <table class="table">
              <thead>
                <tr>
                  <th width="50%">Name</th>
                  <th ng-show="uploader.isHTML5">Size</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in uploader.queue">
                  <td><strong>{{ item.file.name }}</strong></td>
                  <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                  <td class="text-center">
                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                  </td>
                  <td nowrap>
                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                      <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-success btn-xs" ng-click="item.remove()">
                      <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>                                                                 
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div ng-controller="ImportController">
            <h4>Test</h4>
            <table>
              <td>
                <span class="btn btn-primary btn-file">Browse <input type="file" multiple="multiple" ng-click="filetype='test'" nv-file-select="" uploader="uploader" name="file" /></span>  
              </td>
              <td width="120px">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': uploader.progress + '%' }" style="width: 0%;"/>
                </div>
              </td>
            </table>  
            <table class="table">
              <thead>
                <tr>
                  <th width="50%">Name</th>
                  <th ng-show="uploader.isHTML5">Size</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in uploader.queue">
                  <td><strong>{{ item.file.name }}</strong></td>
                  <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                  <td class="text-center">
                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                  </td>
                  <td nowrap>
                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                      <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-success btn-xs" ng-click="item.remove()">
                      <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>                                                                 
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div ng-controller="ImportController">
            <h4>Post-Zero/Span</h4>
            <table>
              <td>
                <span class="btn btn-primary btn-file">Browse <input type="file" multiple="multiple" ng-click="filetype='post'" nv-file-select="" uploader="uploader" name="file" /></span>  
              </td>
              <td width="120px">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': uploader.progress + '%' }" style="width: 0%;"/>
                </div>
              </td>
            </table>  
            <table class="table">
              <thead>
                <tr>
                  <th width="50%">Name</th>
                  <th ng-show="uploader.isHTML5">Size</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in uploader.queue">
                  <td><strong>{{ item.file.name }}</strong></td>
                  <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                  <td class="text-center">
                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                  </td>
                  <td nowrap>
                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                      <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-success btn-xs" ng-click="item.remove()">
                      <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>                                                                 
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <h5>Number of Benches</h5>
          <select class="form-control" ng-model="uploader.formData[1].bench">
            <option selected="selected" value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Regression</h2>
        </div>
        <div class="panel-body">
          <div class="col-xs-4 ">
            <h4>Power</h4> Intercept
            <h4><span id="powerI" class="label label-default">Unknown</span></h4>
            Rsquared
            <h4><span id="powerr" class="label label-default">Unknown</span></h4>
            Slope
            <h4><span id="powers" class="label label-default">Unknown</span></h4>
            Standard Error
            <h4><span id="powerse" class="label label-default">Unknown</span></h4>
          </div>
          <div class="col-xs-4">
            <h4>Speed</h4> Intercept
            <h4><span id='speedI' class="label label-default">Unknown</span></h4>
            Rsquared
            <h4><span id='speedr' class="label label-default">Unknown</span></h4>
            Slope
            <h4><span id='speeds' class="label label-default">Unknown</span></h4>
            Standard Error
            <h4><span id='speedse' class="label label-default">Unknown</span></h4>
          </div>
          <div class="col-xs-4">
            <h4>Torque</h4> Intercept
            <h4><span id='torqueI' class="label label-default">Unknown</span></h4>
            Rsquared
            <h4><span id='torquer' class="label label-default">Unknown</span></h4>
            Slope
            <h4><span id='torques' class="label label-default">Unknown</span></h4>
            Standard Error
            <h4><span id='torquese' class="label label-default">Unknown</span></h4>
          </div>            
        </div>
      </div>
    </div>
  </div>
</div>