{% load compress %}
{% load staticfiles %}

{% compress js %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/material.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/ripples.js' %}"></script> -->

<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/Chart.js/Chart.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'bower_components/angular-chart.js/dist/angular-chart.min.js' %}"></script>


<script type="text/javascript" src="{% static 'bower_components/angular-aria/angular-aria.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-animate/angular-animate.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/hammerjs/hammer.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-material/angular-material.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-toastr/dist/angular-toastr.tpls.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-file-upload/angular-file-upload.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-busy/dist/angular-busy.min.js' %}"></script>


<script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/snackbarjs/snackbar.min.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/TestSite.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/TestSite.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/TestSite.routes.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/login.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/navbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/step.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/import/import.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/import/import.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/infobox/infobox.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/infobox/infobox.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/infobox/infobox.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/delay/delay.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/delay/delay.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/results/results.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/results/results.controller.js' %}"></script>
{% endcompress %}
